<a href="https://colab.research.google.com/github/BrianRocketTG/pyscript/blob/main/Binance_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install binance-connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting binance-connector
  Downloading binance_connector-1.18.0-py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 2.2 MB/s
Collecting pyOpenSSL>=19.0.0
  Downloading pyOpenSSL-22.1.0-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 2.2 MB/s
Collecting Twisted>=21.2.0
  Downloading Twisted-22.10.0-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 68.2 MB/s
Collecting service-identity>=21.1.0
  Downloading service_identity-21.1.0-py2.py3-none-any.whl (12 kB)
Collecting autobahn>=21.2.1
  Downloading autobahn-22.7.1.tar.gz (476 kB)
     |████████████████████████████████| 476 kB 63.1 MB/s
Collecting requests>=2.25.1
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 901 kB/s
Collecting txaio>=21.2.1
  Downloading txaio-22.2.1-py2.py3-none-any.whl (30 kB)
Collecting cryptography>=3.4.6
  Downloading cryptography-38.0.4-cp36-abi3-manylinux_2_24_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 55.1 MB/s
Collecting hyperlink>=21.0.0
  Downloading hyperlink-21.0.0-py2.py3-none-any.whl (74 kB)
     |████████████████████████████████| 74 kB 3.3 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from autobahn>=21.2.1->binance-connector) (57.4.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.4.6->autobahn>=21.2.1->binance-connector) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.4.6->autobahn>=21.2.1->binance-connector) (2.21)
Requirement already satisfied: idna>=2.5 in /usr/local/lib/python3.8/dist-packages (from hyperlink>=21.0.0->autobahn>=21.2.1->binance-connector) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.25.1->binance-connector) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.25.1->binance-connector) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.25.1->binance-connector) (1.24.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from service-identity>=21.1.0->binance-connector) (1.15.0)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.8/dist-packages (from service-identity>=21.1.0->binance-connector) (0.2.8)
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.8/dist-packages (from service-identity>=21.1.0->binance-connector) (0.4.8)
Requirement already satisfied: attrs>=19.1.0 in /usr/local/lib/python3.8/dist-packages (from service-identity>=21.1.0->binance-connector) (22.1.0)
Collecting zope.interface>=4.4.2
  Downloading zope.interface-5.5.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (261 kB)
     |████████████████████████████████| 261 kB 68.6 MB/s
Collecting constantly>=15.1
  Downloading constantly-15.1.0-py2.py3-none-any.whl (7.9 kB)
Collecting Automat>=0.8.0
  Downloading Automat-22.10.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.8/dist-packages (from Twisted>=21.2.0->binance-connector) (4.4.0)
Collecting incremental>=21.3.0
  Downloading incremental-22.10.0-py2.py3-none-any.whl (16 kB)
Building wheels for collected packages: autobahn
  Building wheel for autobahn (setup.py) ... done
  Created wheel for autobahn: filename=autobahn-22.7.1-cp38-cp38-linux_x86_64.whl size=696949 sha256=3dcf9883821c26232558cac10f1ad684d2f8061888452c41f1c32a4c19e4d450
  Stored in directory: /root/.cache/pip/wheels/38/88/d1/a5265283a5ce34996a3eb7b054613d611bdc3e657942e6ec64
Successfully built autobahn
Installing collected packages: zope.interface, txaio, incremental, hyperlink, cryptography, constantly, Automat, Twisted, service-identity, requests, pyOpenSSL, autobahn, binance-connector
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed Automat-22.10.0 Twisted-22.10.0 autobahn-22.7.1 binance-connector-1.18.0 constantly-15.1.0 cryptography-38.0.4 hyperlink-21.0.0 incremental-22.10.0 pyOpenSSL-22.1.0 requests-2.28.1 service-identity-21.1.0 txaio-22.2.1 zope.interface-5.5.2

In [2]:
# import Libraries
from binance.spot import Spot as Client
import pandas as pd
import plotly.graph_objects as go
from IPython.display import display

# url to access binance api
base_url = "https://api.binance.com"

# use for testing
base_url_test = "https://testnet.binance.vision" 

# create Client to access API
spot_client = Client(base_url=base_url)

In [4]:
# Access historical prices
btcusd_history = spot_client.klines("BTCUSDT", "1d", limit=283)
display(btcusd_history[:2])

# show as DataFrame
columns=['time', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 
         'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore']
btcusd_history_df = pd.DataFrame(btcusd_history, columns=columns)
btcusd_history_df['time'] = pd.to_datetime(btcusd_history_df['time'], unit='ms')

display(btcusd_history_df)

[[1646352000000,
  '42454.00000000',
  '42527.30000000',
  '38550.00000000',
  '39148.66000000',
  '61964.68498000',
  1646438399999,
  '2527001270.71946910',
  1465066,
  '29322.62323000',
  '1196441375.29618270',
  '0'],
 [1646438400000,
  '39148.65000000',
  '39613.24000000',
  '38407.59000000',
  '39397.96000000',
  '30363.13341000',
  1646524799999,
  '1187689935.08799350',
  879727,
  '14846.61434000',
  '580820200.94256520',
  '0']]

,time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2022-03-04,42454.00000000,42527.30000000,38550.00000000,39148.66000000,61964.68498000,1646438399999,2527001270.71946910,1465066,29322.62323000,1196441375.29618270,0
1,2022-03-05,39148.65000000,39613.24000000,38407.59000000,39397.96000000,30363.13341000,1646524799999,1187689935.08799350,879727,14846.61434000,580820200.94256520,0
2,2022-03-06,39397.97000000,39693.87000000,38088.57000000,38420.81000000,39677.26158000,1646611199999,1542258009.62921880,986352,19055.16367000,740741244.89651720,0
3,2022-03-07,38420.80000000,39547.57000000,37155.00000000,37988.00000000,63994.11559000,1646697599999,2449362161.70153860,1456041,31641.49735000,1211103666.76717830,0
4,2022-03-08,37988.01000000,39362.08000000,37867.65000000,38730.63000000,55583.06638000,1646783999999,2149652714.80434550,1271128,27964.07361000,1081516303.59409020,0
...,...,...,...,...,...,...,...,...,...,...,...,...
278,2022-12-07,17088.96000000,17142.21000000,16678.83000000,16836.64000000,220657.41334000,1670457599999,3723206794.30546690,4284989,107803.05198000,1819002376.49286860,0
279,2022-12-08,16836.64000000,17299.00000000,16733.49000000,17224.10000000,236417.97804000,1670543999999,4009427525.03041160,4520282,117238.75694000,1988377121.41735070,0
280,2022-12-09,17224.10000000,17360.00000000,17058.21000000,17128.56000000,238422.06465000,1670630399999,4097973425.69735400,4282003,118031.91364000,2028743141.40682080,0
281,2022-12-10,17128.56000000,17227.72000000,17092.00000000,17127.49000000,140573.97937000,1670716799999,2411933258.84859990,3032257,70355.34064000,1207126756.21747470,0
282,2022-12-11,17127.49000000,17200.00000000,17121.92000000,17167.74000000,56291.21783000,1670803199999,966109578.14050850,1299300,28106.33192000,482371850.96462790,0

In [5]:
btcusd_history_df

,time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2022-03-04,42454.00000000,42527.30000000,38550.00000000,39148.66000000,61964.68498000,1646438399999,2527001270.71946910,1465066,29322.62323000,1196441375.29618270,0
1,2022-03-05,39148.65000000,39613.24000000,38407.59000000,39397.96000000,30363.13341000,1646524799999,1187689935.08799350,879727,14846.61434000,580820200.94256520,0
2,2022-03-06,39397.97000000,39693.87000000,38088.57000000,38420.81000000,39677.26158000,1646611199999,1542258009.62921880,986352,19055.16367000,740741244.89651720,0
3,2022-03-07,38420.80000000,39547.57000000,37155.00000000,37988.00000000,63994.11559000,1646697599999,2449362161.70153860,1456041,31641.49735000,1211103666.76717830,0
4,2022-03-08,37988.01000000,39362.08000000,37867.65000000,38730.63000000,55583.06638000,1646783999999,2149652714.80434550,1271128,27964.07361000,1081516303.59409020,0
...,...,...,...,...,...,...,...,...,...,...,...,...
278,2022-12-07,17088.96000000,17142.21000000,16678.83000000,16836.64000000,220657.41334000,1670457599999,3723206794.30546690,4284989,107803.05198000,1819002376.49286860,0
279,2022-12-08,16836.64000000,17299.00000000,16733.49000000,17224.10000000,236417.97804000,1670543999999,4009427525.03041160,4520282,117238.75694000,1988377121.41735070,0
280,2022-12-09,17224.10000000,17360.00000000,17058.21000000,17128.56000000,238422.06465000,1670630399999,4097973425.69735400,4282003,118031.91364000,2028743141.40682080,0
281,2022-12-10,17128.56000000,17227.72000000,17092.00000000,17127.49000000,140573.97937000,1670716799999,2411933258.84859990,3032257,70355.34064000,1207126756.21747470,0
282,2022-12-11,17127.49000000,17200.00000000,17121.92000000,17167.74000000,56291.21783000,1670803199999,966109578.14050850,1299300,28106.33192000,482371850.96462790,0

In [8]:
btcusd_history_df.to_csv('BTCUSDT.csv',index=False)

# New Section